.sales .summary-header{
  min-height:40px;
  padding:10px 10px 10px 15px;
}

.sales .summary-header h2, .summary-header h4{
  color:#FFF;
}

.sales .summary-header h2, .summary-header h4{
  color:#FFF;
}
.graph-container.sales{
  display:block;
  box-sizing: border-box;
  height:375px;
}
