#optionbar-container {
  margin-top:0px;
  width:100%;
  background-color: #F5F5F5;
  border-bottom: 1px solid #D9D9D9;
  min-height: 40px;
}

.optionbar-title {
  display: inline-block;
  padding-left: 20px;
  padding-top: 4px;
}

.optionbar-title .sprite{
  display:inline-block;
}

.optionbar-title h3{
  color: #333;
  display:inline-block;
  font-weight: 500;
  padding-left:5px;
  padding-top: 4px;
  vertical-align:top;
}

#optionbar-selects {
  bottom: 3px;
  color: #333;
  display:inline-block;
  font-size: 1.3em;
  width:90%;
  min-height:34px;
  right:30px;
  padding-top:3px;
  position: absolute;
}

#optionbar-selects .optionbar-dropdown{
  display:inline-block;
  padding-left:10px;
}
#optionbar-selects .current-option{
  padding-right:4px;
}

.optionbar-dropdown button, .optionbar-dropdown .btn-group {
  min-height:34px;

}

.optionbar-dropdown button {
    width:100%;
    text-align: right;
    overflow:hidden;
}

.optionbar-dropdown .btn-group {
  width:100%;
}

.btn-group {
    vertical-align: inherit;
}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 450px) {
  #optionbar-container {
    min-height: 80px;
  }
  #optionbar-selects {
    width:50%;

  }
}
