<div class="hometile-container">
  <a class="hometile-link" href="{{tiledata.link}}">
    <div class="hometile-tile sprite" data-ng-class="tiledata.tile">
      <div class="hometile-icon" >
        <div class="sprite" data-ng-class="tiledata.icon"></div>
      </div>
      <div class="hometile-title" >
        <h2 data-ng-cloak>{{tiledata.name}}</h2>
      </div>
      <div class="hometile-value" >
        <h3 data-ng-cloak class="text {{tiledata.classNm}}">{{tiledata.value}}</h3>
      </div>
    </div>
  </a>
</div>
