.sprite{ background:url("../images/sprite.png") top left no-repeat; }
.img-logo-sm{ width:92px; height:68px; background-position:0 0; }
.img-logo{ width:260px; height:68px; background-position:0 -68px; }
