.inventory .summary-header{
  min-height:40px;
  padding:10px 10px 10px 15px;
}

.inventory .summary-header.col-3{
  width:33%;
  float:left;
  border-left: 1px solid #F5F5F5;
  min-height: 82px;
}

.inventory .summary-header.col-3.first{
  width:34%;
}

.inventory .summary-header h2{
  font-size: 24px;
}
.inventory .summary-header h4{
  font-size: 17px;
}

.inventory .summary-header h2, .summary-header h4{
  color:#FFF;
}

.inventory .summary-header h2, .summary-header h4{
  color:#FFF;
}

.graph-container.inventory{
  display:block;
  box-sizing: border-box;
  min-height:400px;
}
